h1 {
  text-align: center;
  border-width: 0px;
}

div {
  border-radius: 15px;
  background-color: darkorange;
  width: 40%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  
}